
<div class="card__sign-in">

    <h1>Login into account</h1>

    <form [formGroup]="form">

        <div>
            <label for="username" class="labels">Enter username</label>
            <input type="text" placeholder="Username" id="username" formControlName="username">

            <div class="error-text"  *ngIf="form.get('username').invalid && form.get('username').touched">
                <small *ngIf="form.get('username').hasError('required')">
                    This field should not be empty
                </small>

                <small *ngIf="form.get('username').hasError('pattern')">
                    Enter correct username
                </small> 
            </div>
        </div>


        <div>
            <label for="password" class="labels">Enter password</label>
            <input type="password"  placeholder="Password" id="password" formControlName="password">

            <div class="error-text" *ngIf="form.get('password').invalid && form.get('password').touched">
                    <small
                        *ngIf="form.get('password').hasError('minlength')">
                        Enter at least 6 symbols
                </small>

                <small *ngIf="form.get('password').hasError('required')">
                        This field should not be empty
                </small>
            </div>
        </div> 
            
        <button type="submit" [disabled]="form.invalid">Sign in</button>
    </form>

    <p>Don't have an account? <span><a routerLink="/signup">Sign up!</a></span></p>
</div>