<!-- 

<div class="sign-in__card">

    <form FormGroup="form"  >
        <div>
            <label for="username" class="labels">Enter username</label>
            <input type="text" placeholder="Username" id="username" formControlName="username">
            <span class="error-text"
                *ngIf="form.get('username').invalid && && form.get('username').touched">
                This field should not be empty
            </span>
        </div>

        <div>
            <label for="password" class="labels">Enter password</label>
            <input type="password"  placeholder="Password" id="password" formControlName="password">
            <div class="error-text"
                *ngIf="form.get('password').invalid && form.get('password').touched">
                    <span
                        *ngIf="form.get('password').hasError['minlength'] && form.get('password').hasError['minlength'][requiredLength]">
                        Enter at least 9 symbols
                     </span>
                    <span
                        *ngIf="form.get('password').hasError['required']">
                        This field should not be empty
                    </span>
                </div>
        </div> 
            
        <button type="submit" disabled="form.invalid">Sign in</button>
    </form>

    <p>Don't have an account? <span><a routerLink="/signup">Sign up!</a></span></p>
</div>
 -->
 <h1>Sign in works</h1>