.nav {
  padding: 20px 30px;
  display: flex;
  justify-content: flex-end;
  background-color: lightgrey;
  margin-bottom: 20px;
}
.nav__link {
  border-bottom: 1px solid #858080;
  margin-left: 30px;
  padding-bottom: 7px;
  font-size: 25px;
  color: rgb(19, 18, 18);
  text-decoration: none;
}

.nav__link :first-of-type {
  justify-self: flex-start;
  font-size: 30px;
}

.nav__link :hover :not(:first-of-type) {
  border-bottom: 4px solid #000;
}

.card {
  width: fit-content;
  height: fit-content;
  margin: auto;
  padding: 10px 40px;
}
