<div class="card__sign-up">

    <h1>Registration</h1>

    <form [formGroup]="form" >
       
        <div>
            <label for="name" class="labels">Enter your name</label>
            <input type="text" placeholder="Name" id="name" formControlName="name">

            <div class="error-text" *ngIf="form.get('name').invalid && form.get('name').touched">
                
                <small *ngIf="form.get('name').hasError('required')">
                    This field should not be empty
                </small>

                <small *ngIf="form.get('name').hasError('pattern')">
                    Enter correct name
                </small> 

            </div>
        </div>

        <div>
            <label for="surname" class="labels">Enter your surname</label>
            <input type="text" placeholder="Surname" id="surname" formControlName="surname" >

            <div class="error-text" *ngIf="form.get('surname').invalid && form.get('surname').touched">
                
                <small *ngIf="form.get('surname').hasError('required')">
                    This field should not be empty
                </small>

                <small *ngIf="form.get('surname').hasError('pattern')">
                    Enter correct surname
                </small> 

            </div>
        </div>

        <div>
            <label for="email" class="labels">Enter your email</label>
            <input type="email" placeholder="Email" id="email" formControlName="email">

            <div class="error-text" *ngIf="form.get('email').invalid && form.get('email').touched">
                
                <small *ngIf="form.get('email').hasError('required')">
                    This field should not be empty
                </small>

                <small *ngIf="form.get('email').hasError('email')">
                    Enter correct email
                </small> 

            </div>
        </div>

        <div>
            <label for="username" class="labels">Create username</label>
            <input type="text" placeholder="Username" id="username" formControlName="username">

            <div class="error-text"  *ngIf="form.get('username').invalid && form.get('username').touched">
                <small 
                    *ngIf="form.get('username').hasError('required')">
                    This field should not be empty
                </small>

                <small *ngIf="form.get('username').hasError('pattern')">
                    Enter correct username
                </small> 
            </div>
        </div>

        <div>
            <label for="password" class="labels">Create password</label>
            <input type="password"  placeholder="Password" id="password" class="password" formControlName="password">
            
            <div class="error-text" *ngIf="form.get('password').invalid && form.get('password').touched">
                <small *ngIf="form.get('password').hasError('minlength')">
                    Enter at least 6 symbols
                </small>

                <small *ngIf="form.get('password').hasError('required')">
                  This field should not be empty
                </small>
            </div>
        </div>    

        <button type="submit" [disabled]="form.invalid">Sign up</button>
    </form>

    <p>Already have an account? <span><a routerLink="/signin">Sign in!</a></span></p>
</div>
