<div class="sign-up__card">
    <h1>Registration</h1>
    <form action="" method="POST">
        
        <label for="name" class="labels">Enter your name</label>
        <input type="text" placeholder="Name" id="name" reguired>
        <label for="surname" class="labels">Enter your surname</label>
        <input type="text" placeholder="Surname" id="surname" reguired>
        <label for="email" class="labels">Enter your email</label>
        <input type="email" placeholder="Email" id="email" reguired>


        <label for="username" class="labels">Create username</label>
        <input type="text" placeholder="Username" id="username" reguired>
        <label for="password" class="labels">Create password</label>
        <input type="password"  placeholder="Password" id="password" reguired>
        <button type="submit">Sign up</button>
    </form>

    <p>Already have an account? <span><a href="/signin">Sign in!</a></span></p>
</div>
